<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="basePath">./logs</Property>
    </Properties>
    <Appenders>
        <!-- File Appender -->
        <RandomAccessFile name="FILE" fileName="${basePath}/logfile.log" append="false" immediateFlush="false">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss,SSS} | [%t] - %m%n"/>
        </RandomAccessFile>
        <RollingRandomAccessFile name="ROLLING_FILE" fileName="${basePath}/blsh.log" filePattern="logs/$${date:yyyy-MM}/blsh-%d{MM-dd-yyyy}-%i.log.gz" append="false" immediateFlush="false">
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingRandomAccessFile>
        <!-- Console Appender -->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss,SSS} | [%t] - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.jessethouin.quant.backtest.ProcessHistoricIntradayPrices" level="trace">
            <AppenderRef ref="ROLLING_FILE" level="info"/>
        </Logger>
        <Logger name="com.jessethouin.quant.broker.Transactions" level="trace">
            <AppenderRef ref="ROLLING_FILE" level="debug"/>
        </Logger>
        <Logger name="org.hibernate.SQL" level="info" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Logger name="org.hibernate" level="info" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="STDOUT" level="debug"/>
            <AppenderRef ref="FILE" level="debug"/>
        </Root>
    </Loggers>
</Configuration>